<?xml version="1.0" encoding="UTF-8"?>
<!-- 日志级别从低到高分为TRACE < DEBUG < INFO < WARN < ERROR < FATAL，如果设置为WARN，则低于WARN的信息都不会输出 -->
<!-- scan: 当此属性设置为true时，配置文件如果发生改变，将会被重新加载，默认值为true -->
<!-- scanPeriod: 设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认单位是毫秒。当scan为true时，此属性生效。默认的时间间隔为1分钟。 -->
<!-- debug: 当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。 -->

<configuration scan="true" scanPeriod="10 seconds" debug="true">
	<!-- 日志全局属性，日志文件存放路径  -->
	<property name="log.path" value="D:/sboot/logs/" />
	<!-- 日志全局属性，日志文件前缀  -->
	<property name="log.file.prefix" value="sboot" />

	<!-- 日志配置模块引入 -->
	<include resource="logback/defaults.xml" />
	<include resource="logback/console-appender.xml" />
	<include resource="logback/file-appender.xml" />

	<!-- 定义根日志级别 -->
	<root level="INFO">
		<!-- 引用日志追加器 -->
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE_INFO" />
		<appender-ref ref="FILE_ERROR" />
	</root>
</configuration>
